<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pannello Iniziale</title>
    <link rel="stylesheet" href="../css/startingPanelPage.css" />
    <script src="../js/startingPanel.js"></script>
</head>

<body>
    <div class="user-data-container" id="user-data-container">
        <p id="user-name">Nome</p>
        <p id="user-surname">Cognome</p>
        <p id="user-email">email</p>
    </div>

    <div class="dashboard-selector-container">
        <h2>Seleziona la Dashboard da gestire</h2>
        <div class="card-container">

            <a href="./exam/examDashboard.html">
                <div class="card">
                    <h3>Gestisci Esami</h3>
                    <img src="../../img/exam-ico.png" alt="Icona esami" onclick="">
                </div>
            </a>

            <a href="./exercise/exerciseDashboard.html">
                <div class="card">
                    <h3>Gestisci Esercizi</h3>
                    <img src="../../img/exercise-icon.png" alt="Icona Esercizi">
                </div>
            </a>
        </div>
    </div>

    <form
        action="http://localhost/Routes/UserRoutes.php/logout"
        method="POST"
      >
        <button type="submit">Logout</button>
    </form>

</body>

</html>